<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.axonatormobileattendance">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AxonatorMobileAttendance">
        <activity
            android:name=".DemoActivity"
            android:exported="false" />
        <activity android:name=".StudentActivity.StudentShowAttendanceSCR"
            android:exported="false"/>
        <activity android:name=".StudentActivity.StudentProfile"
            android:exported="false"/>
        <activity android:name=".StudentActivity.StudentLoginScreen"
            android:exported="false"/>
        <activity android:name=".StudentActivity.StudentDashboard"
            android:exported="false"/>
        <activity android:name=".StudentActivity.StudentAttendanceSCR"
            android:exported="false"/>
        <activity android:name=".StudentActivity.StudentAttendanceCompleteSCR"
            android:exported="false"/>
        <activity android:name=".StudentActivity.OneTimeStudent"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherTakeAttendanceStudent"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherMyProfileFrag"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherLoginScreen"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherForgotScreen"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherDashboard"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherCheckStudAttenSCR"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherAttendanceSCR"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.TeacherAttendanceCompleteSCR"
            android:exported="false"/>
        <activity android:name=".TeacherActivity.ShowTeacherAttendance"
            android:exported="false"/>
        <activity android:name=".ConfirmScreen"
            android:exported="false"/>
        <activity android:name=".AdminActivity.ShowTeacherScreen"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminTeacherImageSCR"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminTeacherAttListSCR"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminStudentImageSCR"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminStudentAttListSCR"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminShowStudents"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminLoginScreen"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminDashboard"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminAddStudentProf"
            android:exported="false"/>
        <activity android:name=".AdminActivity.AdminAddClass"
            android:exported="false"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>